.selected {
  background-color: #c7c7c7;
}

.calculatorGrid {
  display: grid;
  grid:
    "d d d c" 50px
    "seven eight nine plus" 50px
    "four five six minus" 50px
    "one two three mult" 50px
    "zeroh deci equals divide" 50px / 2fr 2fr 2fr 1fr;
}

.calcBtn {
  font-size: 32px;
}

.calcNumBtn {
  background-color: rgb(206, 206, 206);
  border-color: rgb(104, 104, 104);
}

.calcOperatorBtn {
  background-color: rgb(255, 208, 119);
  border-color: rgb(104, 104, 104);
}

.calcDisplay {
  grid-area: d;
  font-size: 40px;
}

.calcClear {
  grid-area: c;
  border-color: rgb(104, 104, 104);
  background-color: rgb(238, 238, 238);
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.plus {
  grid-area: plus;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.mult {
  grid-area: mult;
}

.zeroh {
  grid-area: zeroh;
}

.deci {
  grid-area: deci;
}

.equals {
  grid-area: equals;
}

.divide {
  grid-area: divide;
}
